/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}
							
:root {
    --theme-font-family-base: 'Quicksand', sans-serif;
    --theme-font-family-heading: 'Quicksand', sans-serif;
    /* ... */
}
                        		
